* {
    margin: 0;
    padding: 0;
    font-family: "Baloo Bhaijaan 2", sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    background-color: black;
    height: 70vh;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-width: 60vw;
    margin: auto;
}

nav img {
    position: relative;
    z-index: 10;
    width: 130px;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    /* padding: 0 30px; */
}

.hero> :nth-child(1) {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.btn {
    padding: 7px 13px;
    background-color: rgba(0, 0, 0, 0.361);
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    border: none;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 6px;
}

.btn-red-sm {
    background-color: red;
    border: none;
    padding: 8px 13px;
    margin-left: 5px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;

}

.hero input {
    background-color: rgba(0, 0, 0, 0.361);
    padding: 5px 100px 28px 6px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.separation {
    height: 4px;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}


.first {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 20px auto;
    height: auto;
    
}

.bothdiv {
    padding:20px 0;
}

.first>div :nth-child(1) {
    font-size: 45px;
    font-weight: 600;
}

.first>div :nth-child(2) {
    font-size: 18px;
    margin-top: 10px;
}

.secImg img {
    border-radius: 8px;
    cursor: pointer;
    margin: 0 25px;
}

.faq {
    color: white;
    padding: 25px;
}

.faq h2 {
    text-align: center;
    font-size: 30px;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    max-width: 65vw;
    margin: 20px auto;
    padding: 23px;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s ease-out;
}
.faqbox:hover{
    background-color:#414141;
}

.faqbox img {
    filter: invert(1);
}


footer{
    color: white;
    max-width: 70vw;
    margin:auto;
}
.questions{
    max-width: 70vw;
    margin: 40px auto;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.footer-item a{
    color: white;
    font-size: 14px;
}

@media screen and (max-width: 1000px){
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
        text-align: center;
    }
    .first>div :nth-child(1) {
        font-size: 32px;
       
    }
    .hero> :nth-child(1){
        font-size: 43px;
    }
    .hero-buttons{
        flex-direction: column;
    } 
    footer {
        width: 80vw;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
} 

@media screen and (max-width: 400px){
    .hero> :nth-child(1){
        font-size: 30px;
    }

    .hero> :nth-child(2){
        font-size: 18px;
    }

    .hero> :nth-child(3){
        font-size: 18px;
    }
}